@font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue-Regular.ttf");
}

/* Change title fonts */
.section-title {
    font-family: "BebasNeue";
}

/* Change color of the text */
h2,
h3,
p {
    color: #FF69B4;
}
* {
    color:hsl(313, 92%, 66%);
}

/* Define the color behavior for the submit button */
button {
    background-color: pink;
}
button:hover {
    color: violet;
}
button:active {
    color: hsl(330, 100%, 56%);
}