@font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue-Regular.ttf");
}

/* Change title fonts */
.section-title {
    font-family: "BebasNeue";
}

#title {
    position: fixed;
    right: 0;
}

/* Change color of the text */
h2,
h3,
p {
    color: #f758a7;
    margin: auto;
}

* {
    color:hsl(313, 92%, 66%);
}

/* Changing the text alignment, margins, and appearance of the meeting notes for paragraphs and other text */
p {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: .5cm;
    margin-right: .5cm;
}

h3.section-title {
    margin: 2px 10px 2px 10px
}

details {
    padding-top: .5cm;
    padding-bottom: .5cm;
    padding-right: .5cm;
    padding-left: .5cm;
}

#meeting-notes {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 15in;
    min-width: 5in;
    border-style: dotted;
    border-color:rgb(216, 112, 199);
    border-width: 5px;
    border-radius: 30px;
}

#meeting-notes section {
    text-align: center;
}

#attendance {
    padding: 5px 10px 5px 10px
}

#brand-direction {
    flex-grow: 1;
}

#color-story {
    flex-grow: 1;
}

#q-and-concerns {
    flex-grow: 1;
    flex-shrink: 3;
}

/* creating a color grid */
.grid ~ details {
    display: grid;
    width: 50vw;
    height: 50vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    width: 120px;
    height: 120px
}

details {
    position: relative;
    float: left;
    width: 50%;
    border: 1px solid ;
    box-sizing: border-box;
}

/* Adding some emphasis */
details > summary {
    text-decoration: underline;
}

[attribute="bad-color"] {
    text-decoration: line-through;
}

/* Making sure feedback form looks good */
#feedback + div {
    background-color: rgb(255, 192, 247);
    display: inline-block;
}

/* Define the color behavior for the submit button */
button {
    width: 1in;
    height: .5in;
    background-color: rgb(250, 158, 238);
}

button:hover {
    color: violet;
}

button:active {
    color: hsl(330, 100%, 56%);
}

/* Remove contact from page */
#contact {
    display: none;
}

/* Add some screen size modifications */
@media (max-width:700px){
    .section-title ~ p{
        text-align:left;
    }

}
@media (min-width:1000px){
    .section-title ~ p{
    margin-right:100px;
    }
}